

@media only screen and (min-width: 401px) and (max-width: 800px) {
* {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  position:relative;
  box-sizing: border-box;
 // background-color: #E8EEEF;

}
}



  

.container  {
  
  
      margin:0  auto;
      // padding-top: 20px;
       display: grid;
      grid-template-columns: 65em;
       grid-template-rows: auto;
       position: relative;
      // width: 100%;
      // max-width: 60em;
      // padding-left: 5em;
      // padding-right: 5em;
       //justify-content: center;
      background-color: #E8EEEF;
     
     
      
     }
           
    

 


 

 .card-article {
    // display: grid;
    // grid-template-columns: 980px;
    // grid-template-rows: auto;
    position: relative;   
    box-shadow: 0 1px 2px rgba(0,0,0, 0.4);                    
    max-width: 60em;
    justify-content: center;
    padding: 4px;
    margin: 20px;
    margin-left: 120px;
    background-color:whitesmoke;
    
  }
// .card-article:hover {
//   box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.2) !important;
// }

 
.auther-name {
      // display: grid;
      // grid-template-columns: 980px;
      // grid-template-rows: 30px;
      // justify-content: center;
       
       margin: 5px;
       padding: 12px;
  }
  

  .autherstyle {
    
    
    //border-bottom-style:hidden;
    text-align: left;
    background-color:whitesmoke;
    float: left;
    font-weight: bold;
    
    
  

  }




  .grid-subject {
          // display: grid;
          // grid-template-columns: 980px;
          // grid-template-rows: 30px;
           
       margin: 5px;
       padding: 12px;
  
            
           
          
  }
 
 

 .subject-style {
   
  
    background-color:whitesmoke;
    border-bottom-style:hidden;
    // padding-top: 20px;
    // margin: 30px;
    text-align: left;
    font-weight: bold;
    
    
}


  .grid-description {
      // display: grid;
      // grid-template-columns: 980px;
      // grid-template-rows: auto;
      // grid-auto-rows: auto;
            
      // margin-left: 14px;
      // margin-bottom: 14px;
      margin: 0 0 14px 14px;
      
     // padding: 6px;  
  
  }



  .view-description {
      text-align: left;
    
       //padding-bottom: 10px;
      
    
     
  }
 

.stylebutton {
    
      float: right;
    

}
.stylebutton   button {
    
    background-color:whitesmoke;
    font-size: 12px;
    //border-radius: 5px;
    width: 70px;
    height: 20px;
    cursor: pointer;
    border: hidden;
    margin: 6px;
    
   

    
}

.stylebutton button:hover {
  background-color:#E8EEEF; 
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

  