body {
 
  background-color:#E8EEEF;; 
}
//MAIN CONTAINER CODE
.container-indvidual {
  margin: auto;
  display: grid;
  grid-gap: 10px;
  position: relative;
  //width: 100%;
  max-width: 800px;
  justify-content: center;
 background-color:lightgray;
  padding:  20px;
  
  
  
}


//THIS IS THE INDUVIDWAL VIWE CSS

.card-individual {
// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
background-color:white;
border-bottom: solid 0.1px lightgrey;
//overflow: auto;

}

.auther-name-indvidual {
  padding: 12px 70px;
  
}

.autherstyle-individual {
  text-align: left;
  background-color: white;
  float: left;
  font-weight: bold;
  font-size: 15px;
}

.grid-subject2 {
  padding: 12px 70px ;
  background-color: white;
  border-bottom-style: hidden;
  text-align: left;
  font-weight: bold;
}



.grid-description {
  padding: 0 0 14px 70px;
  text-align: left;
}


.stylebutton {
  float: left;
 padding-left: 70px;
}
.stylebutton button {
 /* background-color: white;
  font-size: 9px;
  width: 10em;
  height: 30px;
  cursor: pointer;
  border: hidden;
  margin: 6px;
 //font-weight: bold;
 font-family: "Helvetica";
 color: #173E43;
 position: relative;
  */
  
  font-family:Helvetica;
  color: #173E43;
  font-size: 9pt;
  background-color: white;
  border: hidden;
  //font-weight: bold;
  border-radius: 1px;
  position: relative;
  font-weight: bold;
  
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
//THIS IS ADD COMMENT CSS
.card-addcomment {
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
   background-color: whitesmoke;
   padding: 4px 4px 30px 4px; 
   transform: 1.5;
   border-bottom: solid 0.2px lightgray;
 }
 .card-addcomment:hover{
 // box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.9) !important;
 border: solid 1px gray;
 }

 .submit-btn {
   background-color: #3fb0ac;
   font-size: 12px;
   font-weight: bold;
   width: 80px;
   height: 25px;
   cursor: pointer;
   float: right;
 }
 
 textarea {
   width: 98%;
   height:12em;
   padding: 4px;
   outline: none;
   border: hidden;
 }


//THIS IS THE LIST OF COMMENTS CSS
.card-comment {
  //box-shadow: 0 1px 2px rgba(0,0,0, 0.4);                   
  background-color: whitesmoke;
  margin-top: 4px; 
  border-bottom: solid 0.2px lightgray;
 }
 
 .styleDisplay {
  border: hidden;
   text-align: left;
   line-height: 22px;
   padding: 12px;
   font-size: 1em;
   line-height: 1.5;
   padding-left: 45px;
 }
 
 .reply-button1 {
   padding-right: 37em;
   font-family:fantasy;
  overflow: hidden;
  position: relative;
 }
 .reply-button2 {
  padding-left: 38em;

  margin: auto;
  //float:right;
 }
 


 //This Css is for votes
 @media only screen and (max-width: 600px) {
  .likes-indivividual {
    width: 6%;
   background-color: whitesmoke;
    height: auto;
    margin-top: 0;
    justify-content:center;
    border: hidden;
    opacity: 0.6;
  }
  
}
.likes-indivividual {
 
  position: relative;
   // bottom: 0;
    display: -moz-inline-grid;
    background-color: gainsboro;
    height: auto;
}
.upvote-individual:hover {
  background-color: lightcoral;
}


.downvote-individual:hover {
  background-color: deepskyblue;
  background-size: 10px;
}