 
.main-class{
    display: flex;
}
.card-search {
    width:10em;
    background-color:whitesmoke;
    float: left;
    padding-left:40px;
}
.mainSearch {
 display:flex;
 //position:relative;
 overflow: hidden;


}
.input-icons i { 
    position: absolute;
    float: left;
    margin-top: 20px;
    margin-left: 10em;
} 
  
.input-icons { 
    
    margin-bottom: 10px; 

} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  

@media  screen and (min-width:320px) {
.input-field { 
    
   // padding: 10px 10px 10px 30px;
   // text-align: left;
   // width: 30em;
   padding: 10px 10px 10px 30px;
    text-align: left;
    width: 10em;
    margin-top: 10px;

}}
@media  screen and (min-width:650px) {
    .input-field { 
        
       // padding: 10px 10px 10px 30px;
       // text-align: left;
       // width: 30em;
       padding: 10px 10px 10px 30px;
        text-align: left;
        width: 30em;
        margin-top: 10px;
        margin-left: 10em;
        margin-right: 10em;
    
    }}

