.mainSearch {
    width:30em;
    border-radius:0.3em;
    height: 30px;
    border:1px solid gray;
    padding-left:40px;
    display:flex;
 position:relative;
}
.card-search {
    width:23em;
    background-color:whitesmoke;
    float: left;
    padding-left:40px;
}
