@import './assets/styles/_reset.scss';
@import './assets/styles/Milligram/_Typography.sass';
@import './assets/styles/_variables.scss';
@import './assets/styles/_app.scss';
@import './assets/styles/_nav.scss';
@import './assets/styles/_dashboard.scss';
@import './assets/styles/_about.scss';
@import './assets/styles/_post-title.scss';
@import './assets/styles/Form.scss'; 
@import './assets//styles//create_article';
@import './assets//styles//ViewArticle';
@import './assets//styles/searchbar';
@import './assets//styles/replycomment';