.App {
  text-align: center;
  font-family: $main-font;
  font-size: 1.1em;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.view-container {
  // padding-top: 5em;
  max-width: $maxWidth;
  margin: 0 auto;
}
@media screen and (min-width: 120px){
.view-container-signup {
  // padding-top: 5em;
  max-width: $maxWidth;
  margin: 0 20em;
}}
@media screen and (max-width: 1200px){
  .view-container-signup {
    // padding-top: 5em;
    max-width: $maxWidth;
    margin: 0 auto;
  }}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.view-container account-page {
  padding-top: 1.8em;
}

.home-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 

.home-link {
  height: 250px;
  width: 250px;
  border: 1px solid blue;
  margin: .5em;
}
