.App {
    text-align: center;
    font-family: $main-font;
    font-size: 1.1em;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .view-container {
    max-width: $maxWidth;
    margin: 0 auto;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  tr:hover {background-color:#e2e2e2;}

  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  