.flip-card-container {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 10vh;
  width: 100%;
  height: 100%;
}

.flip-card {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: featured;
  margin-bottom: 35px;

  // background-color: transparent;
  // border-radius: 15px;
  // justify-content: center;
  // align-items: center;
  // margin: 0;
  min-width: 350px;
  min-height: auto;
  width: 50vw;
  height: 65vh;
  // perspective: 100%;
  // margin-bottom: 80px;
  // grid-area: featured;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: #dddfd4;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3fb0ac;
  // border: 1px solid #ccc;
  border-radius: 15px;
  color: whitesmoke;
  overflow-y: auto;
  .row {
    display: flex;
    flex-wrap: wrap;
    .side {
      flex: 30%;
      padding: 20px;
    }
  }
}

.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #173e43;
  // background-color: #dddfd4;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  border-radius: 15px;
  color: whitesmoke;
  transform: rotateY(180deg);
  overflow-y: auto;
  .header {
    // padding: 60px;
    background-color: #173e43;
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 10px;
    justify-content: center;
    // background: #3fb0ac;
    // color: whitesmoke;
  }
  .contanier {
    max-width: 805px;
    margin: 0 auto;
  }
  .grid-row {
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-around;
    // align-content: center;
  }
  .grid-item {
    height: 20px;
    padding: 20px;
    flex-shrink: 1;
    // align-self: baseline;
    // flex-basis: 10%;
    // -ms-flex: auto;
    // width: 190px;
    // position: relative;
    // padding: 10px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 979px) {
  .flip-card-container {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
  }
}
