// .sidebar-menu {
//   background: #043e78;
//   padding: 10px;
//   /* width: 400px; */
// }
.collapse-container {
  // background-color: #777;
  // color: white;
  cursor: pointer;
  // padding: 18px;
  width: 100%;
  // border: none;
  // text-align: left;
  // outline: none;
  // font-size: 15px;
}
.menu-container {
  list-style: none;
  position: left;
  cursor: pointer;
}
@media screen and (max-width: 979px) {
  .collapse-container {
    display: block;
  }
  // .menu-container {
  //   display: none;
  // }
}
