.flip-card {
  // background-color: transparent;
  // border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 60vw;
  height: 70vh;
  perspective: 100%;
  margin-bottom: 20px;
  grid-area: featured;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #043e78;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: whitesmoke;
  overflow-y: auto;
}

.flip-card-back {
  background-color: slategray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: whitesmoke;
  transform: rotateY(180deg);
  overflow-y: auto;
}
