.flip-card-container {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 8vh;
  width: 100%;
  height: 100%;
}

.flip-card {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: featured;
  margin-bottom: 35px;
  width: 800px;
  height: 400px;
}

.flip-card-inner {
  width: 700px;
  height: 400px;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  // position: absolute;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #3fb0ac;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #f15c39;
  /* position: relative; */
  overflow-y: hidden;
  padding-top: 75px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.flip-card-back {
  /* background-image: url("../styles/images/ctdLiving.jpg"); */
  /* filter: blur(8px); */
  background-color: #fae596;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
  color: #3fb0ac;
  transform: rotateY(180deg);
  overflow-y: auto;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.card-content {
  font-family: 'Noto Sans TC', sans-serif;
}
@media (max-width: 360px) {
  .grid-item {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 979px) {
  .flip-card-container {
    margin-left: 15%;
    margin-right: 15%;
    //margin-top: 10vh;
    display: flex;
    width: 300px;
     justify-content: center;
  }
}

@media (max-width: 360px) {
  .grid-item {
    font-size: 3.5vw;
  }
}
@media (max-width: 360px) {
  .grid-item {
    font-size: 3.5vw;
  }
}
@media (max-width: 360px) {
  .grid-item {
    font-size: 3.5vw;
  }
}
@media (max-width: 360px) {
  .grid-item {
    font-size: 3.5vw;
  }
}
@media (max-width: 360px) {
  .grid-item {
    font-size: 3.5vw;
  }
}
