.slide-container {
  width: 600px;
}

.card {
  /* padding: 100px 50px; */
  background-color: #043e78;
  font-weight: bolder;
  margin: auto;
  border-radius: 8px;
  cursor: pointer;
  color: #faa700;
  list-style: none;
}
