@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

.flip-card {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: featured;
  margin-bottom: 35px;
  // position: relative;
  // background-color: transparent;
  /* border: 1px solid #ccc; */
  // border-radius: 8px;
  // margin: 0;
  // width: 100%;
  /* min-width: 300px; */
  // height: 85vh;
  // perspective: 100%;
}

.flip-card-inner {
  width: 700px;
  height: 400px;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  // position: absolute;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #043e78;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: whitesmoke;
  /* position: relative; */
  overflow-y: auto;
  padding: 63px;
}

.flip-card-back {
  /* background-image: url("../styles/images/ctdLiving.jpg"); */
  /* filter: blur(8px); */
  background-color: slategray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
  color: whitesmoke;
  transform: rotateY(180deg);
  overflow-y: auto;
}

.card-content {
  font-family: 'Noto Sans TC', sans-serif;
}
