.flip-card-bun {
  display: grid;
  grid-template-areas:
    "image image"
    "header header"
    "team-info status-info"
    "team status";
  box-sizing: border-box;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  justify-items: center;
  #flip-card-logo {
    height: 40vmin;
    pointer-events: none;
  }
}

#flip-card-logo-title {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  grid-area: image;
}
#flip-card-logo-title:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.flip-card-header {
  grid-area: header;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 55px;
  align-items: center;
  font-size: 70px;
  font-weight: bolder;
}
.flip-card-header:hover {
  text-shadow: 11px 2px 11px rgba(33, 33, 33, 0.2);
}
// .card-team {
//   grid-area: team;
//   font-size: 50px;
//   width: 50%;
//   height: auto;
//   color: silver;
// }
// .card-team-info {
//   grid-area: team-info;
//   font-size: 50px;
//   width: 50%;
//   height: auto;
//   color: whitesmoke;
// }
.card-team-info:hover {
  text-shadow: 11px 2px 11px rgba(33, 33, 33, 0.2);
}
.card-status {
  grid-area: status;
  font-size: 25px;
  width: 50%;
  height: auto;
  color: silver;
}
.card-status-info {
  grid-area: status-info;
  font-size: 50px;
  width: 50%;
  display: inline-block;
  align-self: center;
  color: whitesmoke;
}
.card-status-info:hover {
  text-shadow: 11px 2px 11px rgba(33, 33, 33, 0.2);
}

// h2 {
//   font-size: 3.6rem;
//   margin-top: 1em;
// }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
