
  .dialogstyle{
    z-index: 999;
    width: 55%;
    max-width: 100%;
    margin: auto;
    position: fixed;
    left: 35%;
    right: 35%;
    top: 40%; 
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transform: translate(-37%, -37%);
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    
   
  }
  
  .dialogCloseButonStayle {
    margin-bottom:15px;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    border:none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-end;
    background: $main-color;
  // background: $secondary-color;
    color:lightgray;
  // background-color: yellow;
  
  }
  
  .modal-wrapper-postarticle{
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
   margin: 0;
    min-height:120em;
     

  }
  
  .button-tertiary {
    background: $main-color;
    color:lightgrey;
    text-align: center;
}

.button-secondary1{
  padding: 19px 39px 18px 39px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
  font-style: normal;
  //width: 100%;
  width: 12em;
  margin-bottom: 10px;
  //background-color:teal ;
  background: $main-color;
  float: right;
  color:#fae596;
  border-radius: 8px;
  position: relative;  
}