@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
.directory-container {
  margin-top: 88px;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  background-color: transparent;
  perspective: 1000px;
}

.list-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  position: relative;
  // background-color: transparent;
  grid-gap: 25px;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin: 0 auto;
  font-size: 15px;
  list-style: none;
  
  // border-style: solid;
}

.list:hover .back-of-list {
  transform: rotateY(180deg);
}

.list, .back-of-list {
  // position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}


.search-contain {
  width: 25%;
}

.image-contain {
 width: 100%;
 height: 291px;
 overflow: hidden;
 background-color:#333;
 img {
   width: 100%;
   height: auto;
   background-color:#333;
 }
}

.staff, .job, .number, .email, .primary-job {
  text-align: center;
  padding: 10px 20px;
  font-family: 'Oxygen', sans-serif;
}

.staff {
  font-weight: bold;
  font-size: 20px;
}

.style-input {
  width: 85%;
  height: 34px;
  font-size: 15px;
}

.search-fa {
  position: fixed;
}

@media screen and (max-width: 1160px) {
  .directory-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .list-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 2.5%;
  }

  .search-contain {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 25px;
  }

}

@media screen and (max-width: 730px) {
  .list-container {
    display: grid;
    grid-template-columns: 45% 45%;
    margin-left: 3.5%;
  }
}

@media screen and (max-width: 650px) {
  .list-container {
    display: grid;
    grid-template-columns: 45%, 45%;
  }
}

@media screen and (max-width: 635px) {
  .list-container {
    display: grid;
    grid-template-columns: 45% 45%;
  }
}

@media screen and (max-width: 400px ) {
  .directory-container {
    display: flex;
    flex-direction: column;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}