
* {
  
    box-sizing:border-box;
    content: width= device-width ,initial-scale=1;
    }

@media only screen and (min-width: 800px) {
    .wrapper {
        width: 100%;
        line-height: 1.58;
        margin-top:5em;
        justify-content: center;
        max-width: 1000px;
        align-self: center;
        display: flex;
        flex-direction: column;
        display: -ms-flexbox;
        margin-bottom: 1px;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
        margin-left: auto;
        margin-right: auto;
        
    }
    .sharecard {
        width:300px;
        height: 120px;
        background-color: ghostwhite; 
        margin-bottom: -120px;
        margin-top: -120px;
        position: relative;
        left: 82%;
        right: 18%;
        top: -40%;
        padding: 10px;
        border-radius: 8px;
        display: flex;
      //float: right;
        transform: translate(-50%, -50%); 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
        
     }
    .card {
        width: 100%;
        max-width: 1200px;
        position: relative;
        text-decoration: none;
        background-color: ghostwhite;
        color: inherit;
        display: flex;
        margin-bottom: 20px;
        position: relative;
        padding-right: 3em;
        border-radius: 10px;
        overflow:hidden;
        margin-left: 6em;
        //margin-right: 3em;
    }
    
.popular-title {
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: initial;
    color: black;
    margin-left: 6em;
    margin-right: 3em;
}
}

.upvote:hover {
    background-color: lightcoral;
}


.downvote:hover {
    background-color: deepskyblue;
    background-size: 10px;
}


.create-post {
   // margin-bottom: 10px;
   // margin-top: 10px;
   // margin-left: 80%;
   // padding-top:5px ;
   // padding-left: 70%;
    
}

.writepost {
    height: inherit;
    width: 90%;
}

.wrapper > div {
    width: 80%;
}





.card:hover {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
}



.likes {
    width: 6%;
    background-color: whitesmoke;
    height: 220px;
    margin-top: 0;
    justify-content:center;
}

.maincontent {
    width: 100%;
   // object-fit: contain;


    .auther {
        margin-top: 4px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: small;
    }
}

.description-style {
    max-height: 120px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 12px;
    text-align: left;
    font-weight: normal;
    line-height:normal;
}

div.description-style:hover {
    //overflow: visible;
    overflow: auto;
}

.Likis-container{
    background-color: lightgrey;
    padding-right: 0.2em;
    padding-left: 0.2em;
    padding-top: 1%;
}
.likes {
    position: relative;
    bottom: 0;
   display: inline-flex;
    background-color: gainsboro;
}



span {
   // padding-left: 2px;
}

.readmore {
    color: blue;
}

i.custom {
    font-size: 1em;
}

#content {
    position: relative;
}

#commentarea {
    position: absolute;
    bottom: 0;
    width: inherit;
}



.auther-style {
    text-align: left;
    font-weight: bold;
    line-height: 14px;
    padding-left: 5px;
    margin-top: 0px;
}

.button {
    margin-bottom: 6px;
    margin-right: 12px;
    font-family: "Helvetica";
    color: #173E43;
    font-size: 15px;
    background-color: white;
    border: 0px solid;
    border-color: #173E43;
    border-radius: 9px;
    position: relative;
}

.button:hover {
    opacity: 0.6;
    text-align: center;
}


.user-profile {
    position: relative;
    top: 4px;
    // right: 10px;
   // padding-left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
/*@keyframes socialShareAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}*/
