.dashboard {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dashboard-content {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar-menu featured";
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 3fr;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  grid-column-gap: 10px;
  box-sizing: border-box;
}

.slide-container {
  grid-area: header;
}
.addButton {
  grid-area: AddButton;
}
.featured {
  grid-area: featured;
  margin-top: 30px;
}
.sidebar-menu {
  display: grid;
  grid-area: sidebar-menu;
  box-sizing: border-box;
  background-color: whitesmoke;
  border-right: solid;
  border-color: #0066cc;
  // border-radius: 8px;
  color: #f15c39;
  width: 300px;
  // padding: 23px;
}

.menu-container {
  list-style: none;
  // position: left;
  // cursor: pointer;
}

.sidebar-menu li {
  padding: 5px;
}

// .search-container {
//   margin-top: 20px;
// }
