



//  @media only screen  and (min-width:800px){
//   .navbar {
//     overflow: hidden;
//      background-color: #333;
//    }
   
//    .navbar a {
//     float: left;
//      font-size: 16px;
//      color: white;
//      text-align: center;
//      padding: 14px 16px;
//      text-decoration: none;
//    }
//    .dropdown {
//      overflow: hidden;
    
//    }
   
//    .dropdown .dropbtn {
//      font-size: 16px;  
//      border: none;
//      outline: none;
//      color:#fae596 ;
//      padding: 14px 16px;
//      background-color: inherit;
//      font-family: inherit;
//      margin: 0;
//    }
   
//    .navbar a:hover, .dropdown:hover .dropbtn {
//      background-color:#3fb0ac;
//    }
   
//    .dropdown-content {
//      display: none;
//      position: absolute;
//      background-color:#3fb0ac;
//     min-width: 20em;
//     height: 20em;
//      color:  #fae596;
//      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//      z-index: 1;
//      left: 80%;
//      right: 20%;
//      top: 100%;
//      padding: 10px;
//    }
   
 
//    .dropdown:hover .dropdown-content {
//      display: block;
//    }
 
//     .prfilecard{

//       z-index: 999;
//       width: 100%;
//       max-width: 50em;
//       height: 35em;
//     margin:auto;
//      position:fixed;
//       left: 55%;
//       right: 50%;
//       top: 47%;
//       padding: 10px;
//       border-radius: 8px;
//       display: flex;
//       flex-direction: column;
//       transform: translate(-50%, -50%);
//       background-color:ghostwhite;;
//       align-items: center;
//       justify-content: center;
//       border:1px solid lightgrey;
//       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
//     }
   
//     .uploadimage {
//       display: inline-block;
//     }
//     .imageupload{
      
//       height:3em;
//       text-align: center;
//       font-style: normal;
//       width: 10em;
//       margin-bottom: 10px;
//       background: #3fb0ac;
//       float: right;
//       color: #fae596;
//       border-radius: 8px;
//       position: relative;
      

//     } 
//     .imageinput{
//       width: 35em;
//       height: 3em;
//       float: left;
//       margin-right: 5px;
  
//     }
    
//     .canclebutton{
//       margin-bottom: 15px;
//       margin-left: 55em;
//       padding: 3px 8px;
//       cursor: pointer;
//       border-radius: 50%;
//       border: none;
//       width: 30px;
//       height: 30px;
//       font-weight: bold;
//       background: $main-color;
//       color: lightgray;
      
      
//     }
//  }
//  .user-profile1 {
//   position: relative;
//   top: 4px;
//   width: 28px;
//   height: 28px;
//   border-radius: 50%;
// }
// .user-profile11 {
// position: relative;
// top: 4px;
// width: 70px;
// height: 70px;
// border-radius: 50%;
// }
// .PhotoCamera {
// padding-left: 10%;
// background-color: white;
// border-radius: 50%;
// width: 40px;
// height: 40px;
// margin-top: -28px;
// margin-left: 52%;
// position: absolute
// }
// .PhotoCamera i{
// margin-top: 10px;
// margin-left: -30px;
// }

// .canclebutton{
// margin-bottom: 15px;
// margin-left: 55em;
// padding: 3px 8px;
// cursor: pointer;
// border-radius: 50%;
// border: none;
// width: 30px;
// height: 30px;
// font-weight: bold;
// background: $main-color;
// color: lightgray;


// }
// .profilewraper{
// background: rgba(0,0,0 ,0.507);
// z-index: 500;
// position: fixed;
// top: 0;
// left: 0;
// right: 0;
// bottom: 0;
// margin: 0;
// min-height: 120em;
// }
// @media only screen  and (max-width:800px){
//   .navbar {
//     overflow: hidden;
//      background-color: #333;
//    }
   
//    .navbar a {
//     float: left;
//      font-size: 16px;
//      color: white;
//      text-align: center;
//      padding: 14px 16px;
//      text-decoration: none;
//    }
//    .dropdown {
//      overflow: hidden;
    
//    }
   
//    .dropdown .dropbtn {
//      font-size: 16px;  
//      border: none;
//      outline: none;
//      color:#fae596 ;
//      padding: 14px 16px;
//      background-color: inherit;
//      font-family: inherit;
//      margin: 0;
//    }
   
//    .navbar a:hover, .dropdown:hover .dropbtn {
//      background-color:#3fb0ac;
//    }
   
//    .dropdown-content {
//      display: none;
//      position: absolute;
//      background-color:#3fb0ac;
//     min-width: 20em;
//     height: 20em;
//      color:  #fae596;
//      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//      z-index: 1;
//     left: 26%;
//      right: 74%;
//      top: 100%;
//      padding: 10px;
//    }
   
//    .dropdown-content a {
//      float: none;
//      color: black;
//      padding: 12px 16px;
//      text-decoration: none;
//      display: block;
//     // text-align: left;
//    }
   
//    .dropdown-content a:hover {
//      background-color: #ddd;
//    }
   
//    .dropdown:hover .dropdown-content {
//      display: block;
//    }

//  .prfilecard{

//   z-index: 999;
//     width: 100%;
//     max-width: 22em;
//     height: 25em;
//     margin: auto;
//     position: fixed;
//     left: 50%;
//     right: 50%;
//     top: 68%;
//     padding: 10px;
//     border-radius: 8px;
//     display: flex;
//     flex-direction: column;
//     transform: translate(-50%, -50%);
//     background-color: ghostwhite;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     align-items: center;
//     justify-content: center;
//     border: 1px solid lightgrey;
  
// }

// .uploadimage {
//   display: inline-block;
// }
// .imageupload{
// height:3em;
// text-align: center;
// font-style: normal;
// width: 9em;
// margin-bottom: 10px;
// background: #3fb0ac;
// float: right;
// color: #fae596;
// border-radius: 8px;
// position: relative;
// } 
// .imageinput {
// width:11em;
// height:3em;
// margin-right: 6px;
// float: left;;
// } 
// .canclebutton{
// margin-bottom: 15px;
// margin-left: 20em;
// padding: 3px 8px;
// cursor: pointer;
// border-radius: 50%;
// border: none;
// width: 30px;
// height: 30px;
// font-weight: bold;
// background: $main-color;
// color: lightgray;

// }
//  }

// @media only screen and (min-width: 800px) {
//   .navbar {
//     overflow: hidden;
//     background-color: #333;
//   }

//   .navbar a {
//     float: left;
//     font-size: 16px;
//     color: white;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//   }
//   .dropdown {
//     overflow: hidden;
//   }

//   .dropdown .dropbtn {
//     font-size: 16px;
//     border: none;
//     outline: none;
//     color: #fae596;
//     padding: 14px 16px;
//     background-color: inherit;
//     font-family: inherit;
//     margin: 0;
//   }

//   .navbar a:hover,
//   .dropdown:hover .dropbtn {
//     background-color: #3fb0ac;
//   }

//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #3fb0ac;
//     min-width: 20em;
//     height: 20em;
//     color: #fae596;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     z-index: 1;
//     left: 80%;
//     right: 20%;
//     top: 100%;
//     padding: 10px;
//   }
//    .canclebutton{
//     margin-bottom: 15px;
//     margin-left: 45em;
//     padding: 3px 8px;
//     cursor: pointer;
//     border-radius: 50%;
//     border: none;
//     width: 30px;
//     height: 30px;
//     font-weight: bold;
//     background: $main-color;
//     color: lightgray;
//     }}


@media only screen  and (min-width:800px){
  .navbar {
    overflow: hidden;
     background-color: #333;
   }
   
   .navbar a {
    float: left;
     font-size: 16px;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   .dropdown {
     overflow: hidden;
    
   }
   
   .dropdown .dropbtn {
     font-size: 16px;  
     border: none;
     outline: none;
     color:#fae596 ;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
   }
   
   .navbar a:hover, .dropdown:hover .dropbtn {
     background-color:#3fb0ac;
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color:#3fb0ac;
    min-width: 20em;
    height: 20em;
     color:  #fae596;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     left: 80%;
     right: 20%;
     top: 100%;
     padding: 10px;
   }
   
 
   .dropdown:hover .dropdown-content {
     display: block;
   }
 
    .prfilecard{
      z-index: 999;
      width: 100%;
      max-width: 50em;
      height: 35em;
    margin:auto;
     position:fixed;
      left: 55%;
      right: 50%;
      top: 47%;
      padding: 10px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      transform: translate(-50%, -50%);
      background-color:ghostwhite;;
      align-items: center;
      justify-content: center;
      border:1px solid lightgrey;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
    }
   
    .uploadimage {
      display: inline-block;
    }
    .imageupload{
      
      height:3em;
      text-align: center;
      font-style: normal;
      width: 10em;
      margin-bottom: 10px;
      background: #3fb0ac;
      float: right;
      color: #fae596;
      border-radius: 8px;
      position: relative;
      
    } 
    .imageinput{
      width: 35em;
      height: 3em;
      float: left;
      margin-right: 5px;
  
    }
    
    .canclebutton{
      margin-bottom: 15px;
      margin-left: 55em;
      padding: 3px 8px;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      width: 30px;
      height: 30px;
      font-weight: bold;
      background: $main-color;
      color: lightgray;
      
      
    }
 }
 .user-profile1 {
  position: relative;
  top: 4px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.user-profile11 {
position: relative;
top: 4px;
width: 70px;
height: 70px;
border-radius: 50%;
}
.PhotoCamera {
padding-left: 10%;
background-color: white;
border-radius: 50%;
width: 40px;
height: 40px;
margin-top: -28px;
margin-left: 52%;
position: absolute
}
.PhotoCamera i{
margin-top: 10px;
margin-left: -30px;
}
.canclebutton{
margin-bottom: 15px;
margin-left: 55em;
padding: 3px 8px;
cursor: pointer;
border-radius: 50%;
border: none;
width: 30px;
height: 30px;
font-weight: bold;
background: $main-color;
color: lightgray;
}
.profilewraper{
background: rgba(0,0,0 ,0.507);
z-index: 500;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: 0;
min-height: 120em;
}
@media only screen  and (max-width:800px){
  .navbar {
    overflow: hidden;
     background-color: #333;
   }
   
   .navbar a {
    float: left;
     font-size: 16px;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   .dropdown {
     overflow: hidden;
    
   }
   
   .dropdown .dropbtn {
     font-size: 16px;  
     border: none;
     outline: none;
     color:#fae596 ;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
   }
   
   .navbar a:hover, .dropdown:hover .dropbtn {
     background-color:#3fb0ac;
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color:#3fb0ac;
    min-width: 20em;
    height: 20em;
     color:  #fae596;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
    left: 26%;
     right: 74%;
     top: 100%;
     padding: 10px;
   }
   
   .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
    // text-align: left;
   }
   
   .dropdown-content a:hover {
     background-color: #ddd;
   }
   
   .dropdown:hover .dropdown-content {
     display: block;
   }
 .prfilecard{
  z-index: 999;
    width: 100%;
    max-width: 22em;
    height: 25em;
    margin: auto;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 68%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    background-color: ghostwhite;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
  
}
.uploadimage {
  display: inline-block;
}
.imageupload{
height:3em;
text-align: center;
font-style: normal;
width: 9em;
margin-bottom: 10px;
background: #3fb0ac;
float: right;
color: #fae596;
border-radius: 8px;
position: relative;
} 
.imageinput {
width:11em;
height:3em;
margin-right: 6px;
float: left;;
} 
.canclebutton{
margin-bottom: 15px;
margin-left: 20em;
padding: 3px 8px;
cursor: pointer;
border-radius: 50%;
border: none;
width: 30px;
height: 30px;
font-weight: bold;
background: $main-color;
color: lightgray;
}
 }
@media only screen and (min-width: 800px) {
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fae596;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #3fb0ac;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3fb0ac;
    min-width: 20em;
    height: 20em;
    color: #fae596;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 80%;
    right: 20%;
    top: 100%;
    padding: 10px;
  }
   .canclebutton{
    margin-bottom: 15px;
    margin-left: 45em;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    background: $main-color;
    color: lightgray;
    }}
