
   @media only screen  and (max-width:800px){
    .navbar {
      overflow: hidden;
       background-color: #333;
     }
     
     .navbar a {
      float: left;
       font-size: 16px;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }
     .dropdown {
      // float: left;
       overflow: hidden;
      
     }
     
     .dropdown .dropbtn {
       font-size: 16px;  
       border: none;
       outline: none;
       color:#fae596 ;
       padding: 14px 16px;
       background-color: inherit;
       font-family: inherit;
       margin: 0;
     }
     
     .navbar a:hover, .dropdown:hover .dropbtn {
       background-color:#3fb0ac;
     }
     
     .dropdown-content {
       display: none;
       position: absolute;
       background-color:#3fb0ac;
      min-width: 20em;
      height: 20em;
       color:  #fae596;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
      left: 26%;
       right: 74%;
       top: 100%;
       padding: 10px;
     }
     
     .dropdown-content a {
       float: none;
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       text-align: left;
     }
     
     .dropdown-content a:hover {
       background-color: #ddd;
     }
     
     .dropdown:hover .dropdown-content {
       display: block;
     }
 /*  .settingtoggle { 
     z-index: 999;
     width: 100%;
     max-width: 1200px;
     margin: auto;
     position: fixed;
     left: 50%;
     right: 50%;
     top: 50%;
     padding: 10px;
     border-radius: 8px;
     display: flex;
     flex-direction: column;
     transform: translate(-50%, -50%);
 
   }*/
   .prfilecard{

    z-index: 999;
    width: 100%;
    max-width: 20em;
    height: 25em;
    margin: auto;
    position: fixed;
    left: 52%;
    right: 48%;
    top: 60%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    background-color: ghostwhite;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    border:1px solid lightgrey;
    
  }
  .uploadImage {
    width: 300px;
    height: 200px;
    margin-bottom: 40px;
  }
  .uploadimage {
    display: inline-block;
  }
.imageupload{
  //width:5em;
  height:3em;
} 
.imageinput {
width:15em;
height:3em;
} 
   }



   @media only screen  and (min-width:800px){
    .navbar {
      overflow: hidden;
       background-color: #333;
     }
     
     .navbar a {
      float: left;
       font-size: 16px;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }
     .dropdown {
      // float: left;
       overflow: hidden;
      
     }
     
     .dropdown .dropbtn {
       font-size: 16px;  
       border: none;
       outline: none;
       color:#fae596 ;
       padding: 14px 16px;
       background-color: inherit;
       font-family: inherit;
       margin: 0;
     }
     
     .navbar a:hover, .dropdown:hover .dropbtn {
       background-color:#3fb0ac;
     }
     
     .dropdown-content {
       display: none;
       position: absolute;
       background-color:#3fb0ac;
      min-width: 20em;
      height: 20em;
       color:  #fae596;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
       left: 80%;
       right: 20%;
       top: 100%;
       padding: 10px;
     }
     
    /* .dropdown-content a {
       float: none;
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       text-align: left;
     }
     
     .dropdown-content a:hover {
       background-color: #ddd;
     }
     */
     .dropdown:hover .dropdown-content {
       display: block;
     }
    /*.settingtoggle { 
        z-index: 999;
        width: 100%;
        max-width: 1200px;
        margin: auto;
       ~position: fixed;
        left: 50%;
        right: 50%;
        top: 100%;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -50%);
    
      }*/
      .prfilecard{

        z-index: 999;
        width: 100%;
        max-width: 50em;
        height: 35em;
      margin:auto;
       position:fixed;
        left: 55%;
        right: 50%;
        top: 47%;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -50%);
        background-color:ghostwhite;;
        align-items: center;
        justify-content: center;
        border:1px solid lightgrey;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
      }
      .uploadImage {
        width: 10em;
        height: 8em;
        margin-bottom: 200px;
        
      }
      .uploadimage {
        display: inline-block;
      }
      .imageupload{
        width:8em;
        height:3em;
      } 
      .imageinput{
      width:40em;
      height:3em;
      }
      
   }
   .user-profile1 {
    position: relative;
    top: 4px;
    // right: 10px;
   // padding-left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.user-profile11 {
  position: relative;
  top: 4px;
  // right: 10px;
 // padding-left: 2px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.PhotoCamera {
   padding-left: 10%; 
  background-color: white;
  color: black;
border-radius: 50%;
}
.PhotoCamera i{
padding-right: 30px;
}

.canclebutton{
  margin-bottom: 15px;
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  font-weight: bold;
  align-self: flex-end;
  background: $main-color;
  // background: $secondary-color;
  color:#3fb0ac;
  // background-color: yellow;
}