
   @media only screen  and (max-width:600px){
    .navbar {
      overflow: hidden;
       background-color: #333;
     }
     
     .navbar a {
      float: left;
       font-size: 16px;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }
     .dropdown {
      // float: left;
       overflow: hidden;
      
     }
     
     .dropdown .dropbtn {
       font-size: 16px;  
       border: none;
       outline: none;
       color:#fae596 ;
       padding: 14px 16px;
       background-color: inherit;
       font-family: inherit;
       margin: 0;
     }
     
     .navbar a:hover, .dropdown:hover .dropbtn {
       background-color:#3fb0ac;
     }
     
     .dropdown-content {
       display: none;
       position: absolute;
       background-color:#3fb0ac;
      min-width: 20em;
      height: 20em;
       color:  #fae596;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
      left: 50%;
       right: 50%;
       top: 100%;
       padding: 10px;
     }
     
     .dropdown-content a {
       float: none;
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       text-align: left;
     }
     
     .dropdown-content a:hover {
       background-color: #ddd;
     }
     
     .dropdown:hover .dropdown-content {
       display: block;
     }
 /*  .settingtoggle { 
     z-index: 999;
     width: 100%;
     max-width: 1200px;
     margin: auto;
     position: fixed;
     left: 50%;
     right: 50%;
     top: 50%;
     padding: 10px;
     border-radius: 8px;
     display: flex;
     flex-direction: column;
     transform: translate(-50%, -50%);
 
   }*/
   }
   @media only screen  and (min-width:320px){
    .navbar {
      overflow: hidden;
       background-color: #333;
     }
     
     .navbar a {
      float: left;
       font-size: 16px;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }
     .dropdown {
      // float: left;
       overflow: hidden;
      
     }
     
     .dropdown .dropbtn {
       font-size: 16px;  
       border: none;
       outline: none;
       color:#fae596 ;
       padding: 14px 16px;
       background-color: inherit;
       font-family: inherit;
       margin: 0;
     }
     
     .navbar a:hover, .dropdown:hover .dropbtn {
       background-color:#3fb0ac;
     }
     
     .dropdown-content {
       display: none;
       position: absolute;
       background-color:#3fb0ac;
      min-width: 20em;
      height: 20em;
       color:  #fae596;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
       left: 80%;
       right: 20%;
       top: 100%;
       padding: 10px;
     }
     
     .dropdown-content a {
       float: none;
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       text-align: left;
     }
     
     .dropdown-content a:hover {
       background-color: #ddd;
     }
     
     .dropdown:hover .dropdown-content {
       display: block;
     }
    /*.settingtoggle { 
        z-index: 999;
        width: 100%;
        max-width: 1200px;
        margin: auto;
       ~position: fixed;
        left: 50%;
        right: 50%;
        top: 100%;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -50%);
    
      }*/
   }
   .user-profile1 {
    position: relative;
    top: 4px;
    // right: 10px;
   // padding-left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.user-profile11 {
  position: relative;
  top: 4px;
  // right: 10px;
 // padding-left: 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.prfilecard{

  z-index: 999;
  width: 100%;
  max-width: 600px;
  height: 600px;
margin:auto;
 position:fixed;
  left: 50%;
  right: 50%;
  top: 50%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: #3fb0ac;
  
}
/*.PhotoCamera {
  left: 80%;
  right: 20%;
  top: 20%;
  transform: translate(-50%, -50%);
}*/
.style {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}