.repypage{
    margin: 10px;
   padding-right: 75%;
   color: #3FB0AC;
   font-size: 20px;
   cursor: pointer
}
.angle-down  {
    
}

.replystayle{
    line-height: 22px;
    text-align: left;
     padding: 5px 50px;
     font-size: 1em;
     line-height: 1.5;
     font-family: Helvetica;
     //float: left;
     cursor: pointer;
     
}