.replypage{
    margin: 10px;
   padding-right: 72%;
   color: #3FB0AC;
   font-size: 16px;
   cursor: pointer;
   width:10em;
   border:hidden;
   outline:none; 
   background-color:ghostwhite
}


.replystayle{
    line-height: 22px;
    text-align: left;
     padding: 5px 55px;
     font-size: 1em;
     line-height: 1.5;
     font-family: Helvetica;
     //float: left;
     cursor: pointer;
     
}
.replystyle{
    padding-left: 32px;
}