.main-class {
  display: flex;
  flex-direction: column;
}
.card-search {
  width: 10em;
  background-color: whitesmoke;
  float: left;
  padding-left: 40px;
}
.mainSearch {
  display: flex;
  //position:relative;
  overflow: hidden;
}
@media screen {
  .input-icons i {
    position: absolute;
    float: left;
    margin-top: 20px;
    margin-left: 8.2em;
  }
}
@media screen and (min-width: 320px) and (max-width: 650px) {
  .input-icons i {
    position: absolute;
    float: left;
    margin-top: 24px;
    margin-left: 2.7em;
  }
}
@media screen and (min-width: 320px) {
  .input-field {
    // padding: 10px 10px 10px 30px;
    // text-align: left;
    // width: 30em;
    padding: 10px 10px 10px 30px;
    text-align: left;
    width: 43em;
    margin-top: 12px;
    margin-left: 3em;
    margin-right: 0.5em;
    //background-color: whitesmoke;
  }
  .popover__wrapper {
    position: relative;
    //margin-top: 1.5rem;
    display: inline-block;
    
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 35px;
    transform: translate(0, 10px);
    background-color: ghostwhite;
    padding: 1.2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width:8.8em
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(100% - 60px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent ghostwhite transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    //transform: translate(0, -0.4px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    //width: 120em;
  }
  .popover__message {
    text-align: left;
  }
}
@media screen and (max-width: 650px) {
  .input-field {
    //background-color: whitesmoke;
    padding: 10px 10px 10px 30px;
    text-align: left;
    width: 11.2em;
    margin-top: 10px;
    //margin-left: 10em;
   // margin-right: 1.5em;
  }
  .popover__wrapper {
    position: relative;
    //margin-top: 1.5rem;
    display: inline-block;
    
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 135px;
    transform: translate(0, 10px);
    background-color: ghostwhite;
    padding: 1.2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width:10em;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(100% - 60px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent ghostwhite transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    //transform: translate(0, -0.4px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    //width: 120em;
  }
  .popover__message {
    text-align: left;
  }
}



