@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700&display=swap');

$blue: rgb(18,40,76);
$orange:rgb(255,92,53);

$maxWidth: 1200px;
$contentWidth: 500px;

$main-font: 'Montserrat', sans-serif;